@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../shared/assets/fonts/inter-regular.woff2') format('woff2'),
  url('../../shared/assets/fonts/inter-regular.woff') format('woff');
}