{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "printWidth": 90,
  "arrowParens": "always",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@src/types/?(.*)?$",
    "",
    "^@src/app/?(.*)?$",
    "^@src/pages/?(.*)?$",
    "^@src/context/?(.*)?$",
    "^@src/i18n/?(.*)?$",
    "",
    "^@src/entities/?(.*)?$",
    "",
    "^@src/shared/config/?(.*)?$",
    "^@src/shared/constants/?(.*)?$",
    "^@src/shared/interfaces/?(.*)?$",
    "",
    "^@src/shared/hooks/?(.*)?$",
    "^@src/shared/utils/?(.*)?$",
    "^@src/shared/api/?(.*)?$",
    "",
    "^@src/shadcn/components/?(.*)?$",
    "",
    "^@src/shared/ui/(.*)$",
    "^@src/shared/assets/(.*)$",
    "^@src/features/(.*)$",
    "",
    "^@src/(.*)$",
    "",
    "^./constants/?(.*)$",
    "^./interfaces/?(.*)$",
    "^./hooks/?(.*)$",
    "^./utils/?(.*)$",
    "^./lib/?(.*)$",
    "",
    "^./layouts/?(.*)$",
    "^./components/?(.*)$",
    "",
    "^[./](?!.*\\.s?css$)",
    ".\\.s?css$"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
